html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.scrollmenu-allign .react-horizontal-scrolling-menu--scroll-container {
  justify-content: flex-end;
 }
 .rdrDateRangePickerWrapper .rdrDefinedRangesWrapper {
  display: none !important;
}