@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

img {
  max-width: 100%;
  height: auto;
}

.css-1ff8729-MuiInputBase-root-MuiFilledInput-root {
  background-color:#fff !important;
}

.css-1fsccys {
  width: 100% !important;

}

.css-zrqpq1:after {
  border-bottom: none !important;
}

.css-zrqpq1:before {
  border-bottom: none !important;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-oapmtd {
  top: 110px !important;
}


.css-dvhgws {
  background-color: #fff !important;
 
}
.gmnoprint {
  display: none;
}
button.gm-control-active.gm-fullscreen-control {
  display: none;
}
.react-horizontal-scrolling-menu--wrapper {
  overflow-x: scroll;
}
.react-horizontal-scrolling-menu--wrapper::-webkit-scrollbar {
  display: none;
}

.sc-dicizt.eBLjPJ {
  display: none !important;
  }
  
  
  div#field-wrapper {
    display: flex;
      flex-wrap: wrap;
  }
  
  #card-number{
    border:none !important;
    border-bottom:1px solid #000 !important;
  }
  #card-number:focus-visible,#card-expiry:focus-visible,#cvc:focus-visible{
    outline:none !important;
  }
  #card-expiry,#cvc{
    border:none !important;
  
    
  }
  
  #zip{
  display:none !important;
  }
  
  
  #field-wrapper label:nth-child(3){
      width:20%  !important;
    margin-left:15px !important
  }
  #field-wrapper label:nth-child(4){
      width:25%  !important;
  }
    






.rdrDateRangePickerWrapper .rdrDefinedRangesWrapper {
  display: none !important;
}


.scrollmenu-allign .react-horizontal-scrolling-menu--scroll-container {
  justify-content: flex-end;
 }
 .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff !important;
  background-color: #005451!important;
}

 .pagination-row .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #ffff00 !important;
  background-color: #000 !important;
  border-radius: 8px !important;
}
 .scrollHomePage .react-horizontal-scrolling-menu--scroll-container {
  flex-direction: row-reverse;
}
.scrollMenu::-webkit-scrollbar {
  display: none;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}



.planner-calendar .react-datepicker__month-container {
  width: 100% ;
}

.planner-calendar .react-datepicker {
  width: 100% ;
}

  .css-1wr6u1g-MuiGrid-root {
    width: 83%;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 0 !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 0 !important;
}
.css-edyxhs-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
padding: 35px;
top:110px !important;
}
@media only screen  and (min-width: 320px) and (max-width: 479px) {
  .MuiBox-root.css-guqkjl {
    padding-left: 0 !important;
}

  .mobile-dropdown .css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    padding: 15px !important;
  }
  .css-9apzwp-MuiGrid-root{    padding: 0 15px;}

  .css-dvxtzn {
    margin-top: 35px;
  }
  .css-1wr6u1g-MuiGrid-root {
    margin: 0 auto;
}
.css-1d2p3d-MuiGrid-root {
  margin: 0 auto;
  }
.mobile-header-search{width:70%  !important}

.mobile-header-icons{width: 30% !important}
.css-ofvh30-MuiGrid-root{padding: 0 20px;}


  .bookingoverview-imgcontainer{
    padding: 0 20px;
  }

  .amenities-container {
    justify-content: center;
}

  .css-vj1n65-MuiGrid-root{
    border-bottom: 0 !important;
    padding-bottom: 40px !important;
  }
  .css-1qm8set-MuiGrid-root{
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 30px 0;

  }

  .css-f952mg-MuiTypography-root{
    text-align:center !important;
    }
    
    
    .css-zlu9x3-MuiTypography-root{
    text-align:center !important;
    }
    
    
    .coworking-container{
    min-height: 100px !important;
    
    }



  .css-193z6fc-MuiGrid-root{
    border-left: 0 !important;
    border-right: 0 !important;
}

.css-ahj2mt-MuiTypography-root{
text-align:center !important;
}




.css-c1eoxj-MuiGrid-root{gap:70px;}
  .css-l8h4b1-MuiPaper-root-MuiCard-root{min-width: fit-content;}


 .css-ah6tr4-MuiGrid-root{
margin: 0 30px;

 }

  .css-qfdd9t{
    align-items: center,
   
  }

  .css-xvr0ng-MuiTypography-root{
margin-top: 20px;
    text-align: center;
  }

  
.css-1qnbib8-MuiTypography-root{ text-align: center;}
.css-m6c9p0-MuiTypography-root{ text-align: center;margin-top: 20px;}
}


@media only screen  and (min-width: 480px) and (max-width: 900px) {
  .MuiBox-root.css-guqkjl {
    padding-left: 0 !important;
}
  .css-9apzwp-MuiGrid-root{    padding: 0 15px;}
  .css-dvxtzn {
    margin-top: 35px;
  }


  .css-1d2p3d-MuiGrid-root {
    margin: 0 auto;
    }

  .css-1wr6u1g-MuiGrid-root {
    margin: 0 auto;
}

  .bookingoverview-imgcontainer{
    padding: 0 20px;
  }

  .amenities-container {
    justify-content: center;
}



.css-vj1n65-MuiGrid-root{
  border-bottom: 0 !important;
  padding-bottom: 40px !important;
}

  .css-1qm8set-MuiGrid-root{
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 30px 0;

  }

  .css-f952mg-MuiTypography-root{
    text-align:center !important;
    }
    
    
    .css-zlu9x3-MuiTypography-root{
    text-align:center !important;
    }
    
    
    .coworking-container{
    min-height: 100px !important;
    
    }



  .css-193z6fc-MuiGrid-root{
    border-left: 0 !important;
    border-right: 0 !important;
}

.css-ahj2mt-MuiTypography-root{
text-align:center !important;
}




.css-c1eoxj-MuiGrid-root{gap:70px;}


.css-5n35g3-MuiPaper-root-MuiCard-root {min-width: 70% !important;}
  .css-l8h4b1-MuiPaper-root-MuiCard-root{  min-width: 70% !important;}
  .planner-calendar .react-datepicker {
    width: 50% !important;
  }

.css-1qnbib8-MuiTypography-root{ text-align: center;}
.css-m6c9p0-MuiTypography-root{ text-align: center;margin-top: 20px;}
  .css-xvr0ng-MuiTypography-root{
    margin-top: 20px;
    text-align: center;
  }
  .css-qfdd9t{

    align-items: center
  }



}